@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sobre o desenvolvedor";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Computer Engineer | IT Analyst and Technical Support @ViewData["Dev"]</p>
<p>@ViewData["email"]</p>

<address>
    <strong>Mais informações no Linkedin: </strong> <a href="http://www.linkedin.com/in/nicholasmirandabastos">www.linkedin.com/in/nicholasmirandabastos</a><br />

    <strong>GitHub: </strong> <a href="https://github.com/nicholasmirandabastos">github.com/nicholasmirandabastos</a><br />

    <strong>LeetCode: </strong> <a href="https://leetcode.com/u/nicholasmiranda/">leetcode.com/u/nicholasmiranda/</a><br />

    <strong>Exercism: </strong> <a href="https://exercism.org/profiles/NicholasMiranda">exercism.org/profiles/NicholasMiranda</a>
</address>